In [ ]:
#regex in python

import re

#Check if the string starts with "The" and ends with "Spain":

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if x:
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

In [ ]:
import re
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [ ]:
import re
txt = "The rain in spain"
x = re.findall("Portagal",txt)
if x:
    print("Yes, there is at least one match!")
else:
    print("No match")

No match

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)#find the white space in program

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [ ]:
#regex split function in peogram

import re

txt =  "The rain in spain"
# x = re.split("\s",txt)
x = re.split("\s",txt,1)
print(x)

['the', 'rain in spain']

In [ ]:
import re

txt =  "The rain in spain"

x = re.sub("\s","9",txt)
print(x)

The9rain9in9spain